body {
	font: 15px/1.5 Arial, Helvetica, sans-serif;
	padding:0;
	margin:0;
	background-color:#000000;
}

.container{
	width:80%;
	margin:auto;
	overflow:hidden;
}

header {
	background:#000000;
	color:#FFFFFF;
	padding-top:30px;
	min-height:70px;
	border-bottom:#FFFFFF 3px solid;
}

header li{
	text-align:center;
	display:inline;
	padding: 0 20px 0 20px;
}

header h1{
	margin-top: 30%;
	font-size:55px;
	margin-bottom:30%;
	text-align:left;
}

.box1 {
	display: flex;
  	background-color: #ffffff;
}

.box1 h1 {
	padding-right: 25%;
}

.panel video {
  flex: 25%;
  padding: 5px;
}

.panel h1 {
	text-align: center;
}

a.nav-link:link
{
   color: #000000;
   text-decoration: none;
}
a.nav-link:visited
{
   color: #000000;
   text-decoration: none;
}
a.nav-link:hover
{
   color: #000000;
   text-decoration: none;
}




