.column {
  flex: 33.33%;
  padding: 5px;
}


/* Clearfix (clear floats) */
.row {
  display: flex;
  background-color: #ffffff;
}

.row2 {
  display: flex;
  background-color: #f4f4f4;
}

