.column {
  float: left;
  width: 33.33%;
  padding: 2px;
}


/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

body {
  background-color: coral;
}
